* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  header {
    padding: 8% 0;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  .lotrGif {
    width: 50%;
    height: 50%;
  }
  
  p {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .aboutEvan, .tagLine {
    text-align: left;
  }
  
  .tagLine {
    font-weight: bold;
  }
  
  .openingLine {
    font-weight: bolder;
    margin-left: 5%;
    margin-right: 60%;
    text-align: left;
    color: #444;
  }
  
  .headline {
    text-align: right;
    margin-left: 68%;
    margin-right: 5%;
    font-weight: bold;
    color: #444;
    
  }
  
  .evDevBanner {
    background-image: url('../EvSerious.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #aaa;
  }
  
  