* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  margin: 10px 0 0 0;
}

nav,
footer {
  padding: 0;
  background-color: #1c304a;
  color: #ffffff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #1c304a;
  color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-right: 2%;
  overflow: hidden;
  position: fixed;
  width: 100%;
  background-color: #1c304a;
  color: #ffffff;
}

li {
  float: right;
  background-color: #1c304a;
  color: #ffffff;
}

li a {
  display: block;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 1.66vw;
  background-color: #1c304a;
  color: #ffffff;
}
li a:hover {
  color: #7ebdc2;
}

header {
  padding: 8% 0;
}

section {
  min-height: 200px;
  padding: 6% 0;
}

.projectsContainer,
.contact {
  background-color: #004466;
  color: #ffffff;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.left-arrow, .right-arrow { 
  margin: 2.5%;
} 

.lotrGif {
  width: 60%;
  height: 35%;
}

p {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 16px;
}

.aboutEvan,
.tagLine,
.lotrDescription {
  text-align: left;
}

.tagLine {
  font-weight: bolder;
}

.openingLine {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  margin-left: 5%;
  margin-right: 60%;
  text-align: left;
  font-size: 2.857vw;
}

.headline {
  font-family: "Open Sans", sans-serif;
  text-align: right;
  margin-left: 68%;
  margin-right: 3%;
  font-weight: bold;
}

.evDevBanner {
  background-image: url("../EvDevPic3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 36%;
  background-color: #1c304a;
  color: #ffffff;
}

.aboutContainer {
  background-color: #1c304a;
  color: #ffffff;
}

.link {
  color: #ffffff;
}

.link:hover {
  color: #7ebdc2;
}

.contactLinks {
  display: flex;
  justify-content: space-evenly;
  padding: 1% 0;
}

.techIcons {
  display: flex;
  justify-content: space-evenly;
}

.lotrDescription {
  text-align: center;
}
@media only screen and (max-width: 680px) {
  header {
    padding: 4% 0;
  }

  ul {
    padding-right: 15vw;
    padding-left: 0;
  }

  li a {
    padding: 5px 15px;
    font-size: 2.8vw;
  }

  section {
    padding: 2vw;
  }

  h2 {
    font-size: 4.5vw;
    margin: 2vw;
  }

  h3 {
    font-size: 4vw;
    margin: 2vw 0;
  }

  p {
    width: 85vw;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 3.2vw;
    padding-left: 10vw;
  }

  .openingLine {
    margin: 5vw 50vw 0 5vw;
    font-size: 4.5vw;
  }

  .evDevBanner {
    background-size: 60vw;
    background-position: 32% bottom;
  }

  .headline {
    font-size: 3.4vw;
    text-align: left;
    margin-left: 75%;
  }

  .lotrGif {
    width: 85vw;
    height: auto;
  }

  .lotrDescription {
    text-align: left;
  }

  .techIcons {
    font-size: x-small;
  }

  .link {
    font-size: 3.6vw;
  }

  .tagLine {
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    width: 92vw;
    margin-left: 0;
    margin-right: 0;
  }

  .aboutEvanPic {
    width: 30vw;
    height: auto;
  }

  .contactLinks {
    padding: 2vw;
  }
}

@media only screen and (min-width: 681px) {
  h2 {
    font-size: 3vw;
  }

  .headline {
    font-size: 2.16vw;
    padding-top: 6%;
  }

  li a {
    font-size: 1.66vw;
  }

  .lotrGif {
    width: 70vw;
    height: auto;
  }

  .techIcons {
    padding: 2vw 0 2vw 0;
  }

  .tagLine {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8vw;
    width: 70vw;
    font-weight: bold;
  }

  .aboutEvanPic {
    width: 25vw;
    height: auto;
  }
}

@media only screen and (min-width: 1175px) and (max-width: 1350px) {
  .evDevBanner {
    background-position-x: 42%;
  }
}

@media only screen and (min-width: 1025px) {
  p {
    font-size: 1.65vw;
  }

  .link {
    font-size: 1.8vw;
  }
}
